<mat-card class="card">
    <mat-card-title>{{card.title}}</mat-card-title>
    <mat-card-subtitle>{{card.category}}</mat-card-subtitle>
  <img mat-card-image src="https://vignette.wikia.nocookie.net/simpsons/images/6/60/No_Image_Available.png/revision/latest?cb=20170219125728" alt="Photo of a product">
  <mat-card-content>
    <p>
      Shop address: <strong>{{card.shopAddress}}</strong>
    </p>
    <p>
      Shop name: <strong>{{card.shopName}}</strong>
    </p>
    <p>
      Count: <strong>{{card.count}}</strong>
    </p>
    <p>
      Price: <strong>{{card.price}}$</strong>
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openEditDialog()">Edit</button>
  </mat-card-actions>
</mat-card>