<div class="dialog">
    <h1 mat-dialog-title>Edit product</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="product.title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Category" [(ngModel)]="product.category" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Shop name" [(ngModel)]="product.shopName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Shop address" [(ngModel)]="product.shopAddress" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Shop city" [(ngModel)]="product.shopCity" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" [(ngModel)]="product.price" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Count" [(ngModel)]="product.count" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tags" [(ngModel)]="tags" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button color="primary" (click)="update()" [mat-dialog-close]="product" cdkFocusInitial>Edit</button>
    </div>
  </div>