<div class="dashboard" fxLayout="column"
  [ngStyle]="{'background': 'linear-gradient(rgb(63, 81, 181), rgb(244, 67, 54)', 'height' : '100%'}">
  <div class="title">
    <h1>Search Results</h1>
    <button routerLink="/search" mat-fab color="warn">Go back</button>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="cards">
    <div fxLayout="row wrap">
      <div *ngFor="let card of searchService.foundProducts">
        <app-product-card [card]="card"></app-product-card>
      </div>
    </div>
  </div>
</div>