<h1 mat-dialog-title>Search Filters</h1>
<div mat-dialog-content class="dialog">
  <p>Price</p>
  <mat-form-field>
    <input placeholder="Min" matInput [(ngModel)]="data.minPrice" ng-value="data.minPrice">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Max" matInput [(ngModel)]="data.maxPrice" ng-value="data.maxPrice">
  </mat-form-field>
  <mat-divider></mat-divider>
  <p><span matBadge="{{data.count}}" matBadgeOverlap="false">Count
    </span></p>
  <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="true" [(ngModel)]="data.count">
  </mat-slider>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>