.search-card
{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 25%;
}

.background {
    background-image: linear-gradient(rgb(244, 67, 54), rgb(63, 81, 181));
    height: 100%;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .cardList > * {
    box-sizing: border-box;
  }

  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }

  button {
    margin: 10px;
  }

  .progress-spinner {
  }