<div class="background"></div>
<div class="search-card">
  <mat-card>
    <form>
      <h1>Search</h1>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input placeholder="Search" matInput [formControl]="searchInput" [matAutocomplete]="auto" (input)="onSearchChange($event.target.value)" required>
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint>What you are looking for?</mat-hint>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="openCreateDialog()" mat-fab color="accent">Create</button>
        <button (click)="search()" mat-fab color="primary" [disabled]="searchInput.invalid">Go</button>
        <button (click)="openFiltersDialog()" mat-fab color="warn">Filters</button>
      </mat-card-actions>
    </form>
    <section *ngIf="pending === true">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </section>
  </mat-card>
</div>